---
// src/components/CategorySection.astro
import SiteCard from './SiteCard.astro';

interface Props {
  category: string;  // 分类的唯一标识符
  displayName: string; 
  mainIcon: string;
  subCategoryName?: string;  // 改为可选
  subCategoryIcon?: string;  // 改为可选
  sites: Array<any>;
}

const { category, displayName, mainIcon, subCategoryName, subCategoryIcon, sites } = Astro.props;
---

<div class="category-section" id={`category-${category.toLowerCase().replace(/\s+/g, '-')}`}>
  <h4 class="text-gray text-lg mb-4">
    {mainIcon && <i class={`${mainIcon} mr-1`}></i>}
    {displayName}
    {subCategoryIcon && <i class={`${subCategoryIcon} mr-1 fa-lg`}></i>}
    {subCategoryName && subCategoryName}
  </h4>
  <div class="row">
    {sites.map((site) => (
      <SiteCard data={site} />
    ))}
  </div>
</div>
